@model EmployeeManagement.Models.EmployeeUsers
@{
    ViewData["Title"] = "Create User";
}

<script type="text/javascript">
    function submitUser() {
        var data = $("#userForm").serialize();

        $.ajax({
            type: 'Post',
            URL: '/AddUser/AddUser',
            data: data,
            success: function (result) {
                alert("Success");
            },
            Error: function (result) {
                alert("Error");
            }
        });
    }
</script>

<h4>Add User Deatils</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="userForm" novalidate class="needs-validation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" type="text" class="form-control"
                       id="UserName" required />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control"
                       id="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-primary"
                        onclick="submitUser()">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
